[submodule ".config/alacritty/themes/dracula"]
  path = .config/alacritty/themes/dracula
  url = https://github.com/cometkim/dracula-alacritty.git
[submodule ".tmux"]
	path = .tmux
	url = https://github.com/cometkim/.tmux.git
