config/**
!config/coc/extensions/package.json
!config/alacritty/
!config/nvim/
!config/gitui/
!config/kime/
!config/oni2/
!config/fontconfig/

!config/yarn/global/package.json
!config/yarn/global/yarn.lock

Brewfile.lock.json
