[user]
  name = Hyeseong Kim
  email = hey@hyeseong.kim
  signingkey = A2222A83

[gpg]
  program = gpg

[commit]
  gpgsign = true

[init]
  defaultBranch = main

[credential]
  helper = osxkeychain
  helper = store --file .git-credentials
  helper = cache --timeout 30000

[core]
  pager = delta

[delta]
  plus-style = "syntax #012800"
  minus-style = "syntax #340001"
  syntax-theme = Dracula

[interactive]
  diffFilter = delta --color-only

[url "git@github.com:"]
  insteadOf = https://github.com/

[includeIf "gitdir:~/Workspace/src/github.com/daangn/"]
  path = .gitconfig-daangn
